@tailwind base;
@tailwind components;
@tailwind utilities;

.navitem{
    @apply cursor-pointer hover:text-[#9bff9e];
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 16px;
    /* Remove scrollbar space */
    background: rgb(182, 182, 182);
    /* Optional: just make scrollbar invisible */
  }

  ::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 16px;
    background: rgb(118, 118, 118);
  }